hostname 
clientid 
persistent 
option rapid_commit 
option domain_name_servers, domain_name, domain_search, host_name 
option classless_static_routes 
option ntp_servers 
option interface_mtu 
require dhcp_server_identifier 
slaac private 
#ipbaru 
#set ip dari wizard 
interface eth0 
static ip_address=192.168.2.106/25
static ip6_address=fd51:42f8:caae:d92e::ff/64 
static routers=192.168.2.1
static domain_name_servers=192.168.2.1